<!DOCTYPE html>
<html ng-app="shopWithMeApp">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">

    <!-- AngularJS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-controller="AuthController">

<h2>Login</h2>

<input type="text" placeholder="Username" ng-model="loginData.username">
<input type="password" placeholder="Password" ng-model="loginData.password">

<button ng-click="login()">Login</button>

<p>
    Don't have an account?
    <a href="signup.html">Signup</a>
</p>

</body>
</html>
